body{
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    margin: 0; 
    padding: 0;
    font-family:'Style Script',cursive ;
}
html{
    scroll-behavior: smooth;
}
/* écriture  texte */
p{
    font-size: 23px;
    font-weight: bold;
    font-family:'Merienda One';
}
h1{
    
    font-weight: bold; 
}
h2{
    font-size: 40px;
    font-weight: bold;
}
u{
    text-decoration: underline;
}
/* bouton lien */
.modal-body{
    font-family: 'Merienda One';
    font-weight: bold;
    background-color: #c72c48;
}
/* header */
/* écriture nav */
.nav-link1{
    font-weight: bold;
}
.nav-link2{
    font-weight: bold;
}
.nav-link3{
    font-weight: bold;
}
/* header */
header{ 
    width: 100%; 
} 
/* logo */
#logo{
    display: flex;
    justify-content: center;
    height: 200px;
    padding-left: 10px;
    margin-top: 30px;
}
/* ecriture bouton lien */
a{
    color: black;
    text-decoration:none;
}
/* position nav */
.nav-link1{
    /* position: relative; */
    /* right: 240px; */
    padding-right: 10px;
}
.nav-link3{
    /* position: relative; */
    /* left: 240px; */
    padding-left: 10px;
}
#nav{
    display: flex;
    justify-content: center;
    font-size: large;
    font-size: 40px;
    margin-top: 30px;
}
/* / centre page */ 
/* .enseigne{ */
    /* display: flex; */
    /* justify-content: center; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
/* } */
/* premiere ligne */
#text{
    text-align: center;
}
#boxa{
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 0;
    /* margin-top: 20px; */
}
#box1{
    display:flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#box1 img{
    display: flex;
    justify-content:left;
    border-radius: 5%;
    width: 50%; 
    /* height: auto; */
    /* margin-left:0; */
    padding:0;
    margin: 0;
}
#box2 img{ 
    display: flex;
    justify-content: center;
    border-radius: 5%;
    width:50%;
    /* height: auto; */
    /* margin-right:0px; */
    padding: 0;
    margin: 0;
}
#box2{
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
/* deuxieme ligne */
#boxb{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
    /* margin-bottom: 50px; */
}
#box3{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#box3 img{
    border-radius: 5%;
    width:50%;
    /* height: auto; */
    margin: 0;
    padding: 0;
}
#box4 img{ 
     width: 50%; 
     height:auto;
     margin: 0;
     padding: 0;
     border-radius: 5%;
}     
#box4{
    display:flex;
    justify-content:center;
    margin: 0;
    padding: 0;
}
/* troisieme ligne */
#boxc{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
} 
#box5{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#box6{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
/* placement et taille cheque */
/* .cheque{
    width: 5%;
    height: auto;
    font-display: flex;
     /* justify-content: flex-end; */
/* }  */ 
/* responsive */
#musique{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content:center;
    padding: 0;
}
@media(max-width:320px){
    #boxa img{
         width: 100%;
         height:auto;
     }
    #logo{
        display: flex;
        justify-content: center;
        order:1 ;
    }
    #nav{
        display: flex;
        justify-content:center;
        margin-left: 10px;
        order:2 ;
    }
    .nav-link1{
        position:0 ;
        right: 0;
    }
    .nav-link3{
        position: 0;
        left:0;
    }
    #boxa{   
        display: flex;
        justify-content:center;
        margin-top: 20px;
        order:3 ;
    }
    #box1 img{
        margin-left:0 ;

    }
    #box2{
        margin-top: 20px;
    }
    #boxb{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-top: 20px;
        order:4 ;
    }
    #boxc{
        display: flex;
        justify-content: center;
        order:5 ;
        margin-left: 10px;
    }
    #box3 img{
        width: 100%;
    }
    #box4 img{
         margin-top: 20px;
    }
    #box4{
        margin-top: 20px;
    }
    #footer{
    display: flex;
    justify-content: center;
    order: 6;
    }
} 
/* footer */
.footer{
    width: 100%;
}
.footer{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
 /* .modal  */
.btn{
    background-color:#e6b980;
    border-color: black;
    color: black;
    font-weight: bold;
    font-family: 'Merienda One';
    margin-top:10px ;
    margin-bottom: 10px;
}
.nav-link1:hover{
    color:#c72c48;
}
.nav-link2:hover{
    color: #c72c48;
}
.nav-link3:hover{
    color: #c72c48;
}
 h1:hover{
     color:#c72c48;
}
/* logo paiement */
/* .chequeimg{ */
    /* width: 10%; */
    /* height: auto; */

/* ancre */
#remonte{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
/* reseau */
.reseaux{
    font-display:flex ;
    justify-content: flex-end;
}
.bi{
    color:black;
    font-size: 1.1rem;  
}
.bi :hover{
    color: #c72c48;
}
.wifi{
    height: 36px;
}
/* texte footer */
.online{
    margin-top: 10px;
}
/* musique */
.musique{
margin-right: 20px;
margin-bottom: 20px;
display: flex;
justify-content: flex-end;
}
.ambiance{
    margin-left: 10px;
    margin-right:10px ;
}
.free{
    display: flex;
    justify-content: flex-end;
}

